$background: #181a22;
$foreground: #7f7e7d;
$cursor: #4b4c50;

$color0: #181a22;
$color1: #323339;
$color2: #4b4c50;
$color3: #656566;
$color4: #7f7e7d;
$color5: #999794;
$color6: #b3b0ab;
$color7: #cdc9c2;
$color8: #758d9e;
$color9: #8799ab;
$color10: #8193a2;
$color11: #8fa0af;
$color12: #8997a5;
$color13: #596674;
$color14: #9ca9b3;
$color15: #758088;
