$background: #000000;
$foreground: #574c3e;
$cursor: #2c261f;

$color0: #000000;
$color1: #161310;
$color2: #2c261f;
$color3: #41392f;
$color4: #574c3e;
$color5: #6d5f4e;
$color6: #83725d;
$color7: #99856d;
$color8: #98856c;
$color9: #383328;
$color10: #211f1a;
$color11: #000000;
$color12: #000000;
$color13: #000000;
$color14: #000000;
$color15: #000000;
